div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin-top: 50%;
    background-color:  rgb(170, 202, 183);
    text-align: center;
}
.title{
    margin-top: 10px;
    margin-right: 10px;
}
textarea{
    margin-top: 10px;
    width: 175px;
    margin-right: 10px;
}
